{% extends "base.html" %}
{% load static %}

{% block title %}
Seu Carrinho
{% endblock %}

{% block content %}

<style>
  .carrinho{
    border-collapse: collapse;
    margin: 0 30% 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .carrinho thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .carrinho th,
  .carrinho td {
    padding: 12px 15px;
  }
  .carrinho tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .carrinho tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .carrinho tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .carrinho tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>


  {% if carrinho %}
    <h1>Seu carrinho</h1>
    <table class="carrinho">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Remover</th>
        <th>Preço Unitário</th>
        <th>Preço Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in carrinho %}
        {% with produto=item.produto %}
          <tr>
          <td>{{ produto.titulo }}</td>
          <td>{{ item.quantidade }}</td>
          <td><a href="remover/{{ produto.id }}/"> X </a></td>
          <td class="num">R${{ item.preco }}</td>
          <td class="num">R${{ item.preco_total }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr></tr>
      <tr></tr>
      <tr>
        <td>Taxa de entrega</td>
        <td colspan="3"></td>
        <td class="num">R${{ carrinho.get_taxa_entrega }}</td>
      </tr>
      <tr class="total">
        <td>Valor Total do Pedido</td>
        <td colspan="3"></td>
        <td class="num">R${{ carrinho.get_preco_total }}</td>
      </tr>
    </tbody>
    </table>
    {% if request.user.is_authenticated %}
      {% with endereco=request.user.endereco %}
      <p>Seu pedido será entregue em {{ endereco.rua }}, 
        No {{ endereco.numero }}, bairro {{ endereco.bairro }}</p>
      {% endwith %}
      <p>Caso precise modificar o seu endereço de entrega, <a href="/conta/">clique aqui.</a></p>
    {% endif %}
    <p class="text-right">
      <a href="/" class="button light">→ Voltar ao cardápio</a><br>
      <a href="limpar/">→ Limpar Carrinho</a><br>
      <form action="/pedido/criar/" method="post">
        {% csrf_token %}
        <input type="submit" value="Finalizar Compra"><br>
      </form>
    </p>
  {% else %}
    <h1>Seu carrinho está vazio!</h1>
    <a href="/" class="button light"><h2>Voltar ao cardápio</h2></a>
  {% endif %}
{% endblock %}
