body{
    color:#484849;
    font-family: 'Martel Sans', sans-serif;
    margin:0;
}

.alert-info{
    color: blue;
    font-weight: 300;
}
.alert-success{
    color: green;
    font-weight: 300;
}
.alert-warning{
    color: yellow;
    font-weight: 300;
}
.alert-danger{
    color: red;
    font-weight: 300;
}

.central{
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1.4em;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

a:hover{
    cursor: pointer;
}
  
.button {
    border: #ce290f solid;
    background-color: white;
    padding: 0.2em;
    margin: 0.3em;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: black;
}
  
.button:active,
.button:focus,
.button:hover {
    cursor: pointer;
    /* outline: none; */
    border: white;
    color: white;
    background-color: #b80f0f;
  }