.tabela{
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabela thead tr {
  background-color: #ce290f;
  color: #ffffff;
  text-align: left;
}
.tabela th,
.tabela td {
  padding: 12px 15px;
}
.tabela tbody tr {
  border-bottom: 1px solid #dddddd;
}
.tabela tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.tabela tbody tr:last-of-type {
  border-bottom: 2px solid #ce290f;;
}
.tabela tbody tr.active-row {
  font-weight: bold;
  color: #ce290f;;
}