{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Redefina sua senha</h1>
  {% if validlink %}
    <p>Por favor, informe a sua nova senha duas vezes:</p>
    <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Redefinir minha senha" /></p>
    </form>
  {% else %}
    <p>O link para a redefinição de senha estava inválido, provavelmente
    porque já foi utilizado. Por favor solicite uma nova redefinição de senha</p>
  {% endif %}
{% endblock %}
