<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizzeria | Vem pro papai, vem!</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">  
    <style>
      body{
        color:#484849;
        @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap');
        font-family: 'Martel Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
  </body>
</html>