<style>
  #nav-bar-container{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    background-color: tomato;
  }
  ul {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
  }
  li{
    padding: 5px;
  }
  a {
    color:wheat;
    text-decoration: none; /* no underline */
  }
  a:hover{
    color:darkslategrey;
    cursor: pointer;
  }
</style>

<div id=nav-bar-container>
  <h1>Papa's Pizzeria</h1>
  <nav>
    <ul>
      <li><a href="/">Cardapio</a></li>
      <li>Carrinho</li>
      <li>Login</li>
    </ul>
  </nav>
</div>