{% extends 'base.html' %}

{% block content %}

<style>
  
  body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    color: wheat;
  }
  .container_produto{
    display: grid;
    padding: 10px;
    margin: 10px 10px; 
    grid-template-columns: 1fr 1fr 1fr;
  }
  .produto{
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid wheat;
  }

</style>

<div id=cardapio>
  <h1><u>Cardapio</u></h1>
  <h1>Sabores de Pizza</h1>
  <div id=sabores class="container_produto">
    {% for sabor in sabores %}
    {% include "produto/produto_detalhado.html" with object=sabor %}
    {% endfor %}
  </div>

  <h1>Bebidas</h1>
  <div id=bebidas class="container_produto">
  {% for bebida in bebidas %}
  {% include "produto/produto_detalhado.html" with object=bebida %}
  {% endfor %}
  </div>

  <h1>Combos</h1>
  <div id=combos class="container_produto">
  {% for combo in combos %}
  {% include "produto/produto_detalhado.html" with object=combo %}
  {% endfor %}
  </div>

</div>

{% endblock %}