{% extends 'base.html' %}

{% block content %}

<style>
  
  #card_title { 
    float: none;
    text-align: center;
  }

  #cardapio{
    margin-left: 20%;
    margin-right: 20%;
  }

  .container_produto{
    display: grid;
    padding: 10px;
    margin: 10px 10px; 
    grid-template-columns: 1fr 1fr 1fr;
  }
  .produto{
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid wheat;
  }

</style>

<div id=cardapio>
  <h1 id="card_title"><em>Cardápio</em></h1>
  <h1>Sabores de Pizza</h1>
  <div id=sabores class="container_produto">
    {% for sabor in sabores %}
    {% include "produto/produto_detalhado.html" with produto=sabor form=form %}
    {% endfor %}
    <div class=produto>
      <h2>Pizza de Dois Sabores</h2>
      <img src=https://thumbs2.imgbox.com/8c/2b/8XXuRdBR_t.png>
      <div><p>Monte aqui a sua pizza personalizada de dois sabores!!! 
        O valor será uma média dos valores individuais das duas pizzas!</p>
      <div style="display: flex; flex-direction: row; 
                  justify-content: space-between; padding: auto; align-items: baseline;">
        <form action="carrinho/adicionar/-1/" method="post">
          <div>
          {{ form_dois_sabores }}
          </div>
          {% csrf_token %}
          <input type="submit" value="Adicionar ao carrinho">
        </form>      
      </div>
    </div>
  </div>

  <h1>Bebidas</h1>
  <div id=bebidas class="container_produto">
    {% for bebida in bebidas %}
    {% include "produto/produto_detalhado.html" with produto=bebida form=form %}
    {% endfor %}
  </div>

  <h1>Combos</h1>
  <div id=combos class="container_produto">
    {% for combo in combos %}
    {% include "produto/produto_detalhado.html" with produto=combo form=form %}
    {% endfor %}
  </div>

</div>

{% endblock %}