{% block content %}

<div class=produto>
  <h2>{{ produto.titulo }}</h2>
  <img src={{ produto.urlImagem }} style="justify-self: flex-start;">
  <div class="flex-column-container">
  <p style="justify-self: flex-end;">{% if produto.descricao != None and produto.descricao != '' %}
    {{ produto.descricao }}{% endif %}
  </p>
  <div style="display: flex; flex-direction: row;
              justify-content: space-between; padding: auto; align-items: baseline; justify-self: flex-end;">
    <h3>R$ {{ produto.preco }}</h3>
    <form action="carrinho/adicionar/{{ produto.id }}/" method="post">
      {{ form }}
      {% csrf_token %}
      <input id="button" type="submit" value="Adicionar ao carrinho">
    </form>
  </div>      
  </div>
</div>

{% endblock %}